<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DQS.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DQS.AppViews.Operation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DQS.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DbConnectStrings" connectionString="Data Source=.; Initial Catalog=DQSHGNOW;Integrated Security=false;UID=sa;PWD=bokesys.com"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <DQS.App.Properties.Settings>
      <setting name="AutoCheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </DQS.App.Properties.Settings>
    <DQS.AppViews.Operation.Properties.Settings>
      <setting name="IsSaveAndOutStoreButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowNoCodeStoreIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowNoCodeStoreOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingBusinessPersonISNULL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JudgementSaleBillPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUseDepartment" serializeAs="String">
        <value>False</value>
      </setting>
    </DQS.AppViews.Operation.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DQS.App.Properties.Settings>
      <setting name="RemoteManifest" serializeAs="String">
        <value>http://localhost/BokesysSoft/DQS.manifest</value>
      </setting>
    </DQS.App.Properties.Settings>
  </applicationSettings>
</configuration>
