<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DQS.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DQS.AppViews.Operation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DQS.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DQS.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DbConnectStrings" connectionString="Data Source=118.26.131.124,11764; Initial Catalog=DQS;Integrated Security=false;UID=sa;PWD=bokesys.com"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
        <enforceFIPSPolicy enabled="false"/>  
  </runtime>
  <userSettings>
    <DQS.App.Properties.Settings>
      <setting name="AutoCheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </DQS.App.Properties.Settings>
    <DQS.AppViews.Operation.Properties.Settings>
      <!--是否显示保存并出库按钮-->
      <setting name="IsSaveAndOutStoreButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <!--入库是否关联流通监管码-->
      <setting name="AllowNoCodeStoreIn" serializeAs="String">
        <value>False</value>
      </setting>
      <!--出库是否关联流通监管码-->
      <setting name="AllowNoCodeStoreOut" serializeAs="String">
        <value>False</value>
      </setting>
      <!--退货入库是否关联流通监管码-->
      <setting name="AllowNoCodeStoreBackIn" serializeAs="String">
          <value>False</value>
      </setting>
      <!--退货出库是否关联流通监管码-->
      <setting name="AllowNoCodeStoreBackOut" serializeAs="String">
          <value>False</value>
      </setting>
      <!--业务员是否为空-->
      <setting name="SettingBusinessPersonISNULL" serializeAs="String">
        <value>False</value>
      </setting>
      <!--如果业务员不为空，是否显示关联的业务员-->
      <setting name="SettingBusinessPersonWithDealer" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否可以小于进货价出货-->
      <setting name="JudgementSaleBillPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否可以等于进货价出货-->
      <setting name="EqSaleBillPrice" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否用部门管理库存-->
      <setting name="IsUseDepartment" serializeAs="String">
        <value>True</value>
      </setting>
      <!--是否按照大类开单-->
      <setting name="IsBillCategory" serializeAs="String">
          <value>False</value>
      </setting>
      <!--供应商资质过期后采购的产品是否可以销售-->
      <setting name="IsControlProductForDealer" serializeAs="String">
        <value>True</value>
      </setting>
      <!--不合格品库存是否可以采退-->
      <setting name="IsCanPurchaseBackUnStore" serializeAs="String">
        <value>True</value>
      </setting>
      <!--是否控制周期金额开单-->
      <setting name="IsRestriction" serializeAs="String">
          <value>False</value>
      </setting>
      <!--无人员档案是否可以开单-->
      <setting name="IsEmptySaleManSaveBill" serializeAs="String">
        <value>False</value>
      </setting>
    </DQS.AppViews.Operation.Properties.Settings>
    <DQS.Controls.Properties.Settings>
      <!--是否用部门管理库存-->
      <setting name="IsUseDepartment" serializeAs="String">
        <value>True</value>
      </setting>
      <!--是否显示最近采购价-->
      <setting name="IsViewPurchaseModel" serializeAs="String">
        <value>False</value>
      </setting>
      <!--第三方物流是否限制-->
      <setting name="IsThird" serializeAs="String">
          <value>True</value>
      </setting>
      <!--是否使用WMS-->
      <setting name="IsUseWMS" serializeAs="String">
        <value>True</value>
      </setting>
      <!--默认证书是否可以删除-->
      <setting name="IsDelDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否显示默认业务部门-->
      <setting name="IsDefaultDepartment" serializeAs="String">
        <value>True</value>
      </setting>
      <!--销售退回选择完品种之后是否可以修改批号-->
      <setting name="IsModifyBatchNoForSaleBack" serializeAs="String">
        <value>False</value>
      </setting>
      <!--供应商中生产厂商是否按照剂型控制-->
      <setting name="IsControlDealerAsProductPhy" serializeAs="String">
        <value>False</value>
      </setting>
      <!--产品锁定-锁定数量是否可以修改-->
      <setting name="IsProductLockModify" serializeAs="String">
        <value>True</value>
      </setting>
      <!--异常上报是否自动处理-->
      <setting name="IsExceptionAutoDeal" serializeAs="String">
        <value>True</value>
      </setting>
      <!--开票是否打印药检默认值-->
      <setting name="IsBillPrint" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否锁定部门-->
      <setting name="IsLockDepartment" serializeAs="String">
        <value>False</value>
      </setting>
      <!--是否自动设置供应商关联产品-->
      <setting name="IsProductForDealer" serializeAs="String">
        <value>False</value>
      </setting>
    </DQS.Controls.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DQS.App.Properties.Settings>
      <setting name="PID_Rockey" serializeAs="String">
        <value>587DCC16</value>
      </setting>
      <setting name="RemoteManifest" serializeAs="String">
        <value>http://localhost/BokesysSoft/MQS.manifest</value>
      </setting>
      <setting name="PIN_Rockey" serializeAs="String">
        <value>Bokesys2015</value>
      </setting>
    </DQS.App.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MQSKeyServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="MQSKeyServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.bokesys.com/MQS/MQSKeyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MQSKeyServiceSoap"
        contract="MQSKeyServices.MQSKeyServiceSoap" name="MQSKeyServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
