<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DQS.AppViews.Operation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DQS.AppViews.Operation.Properties.Settings>
            <setting name="IsSaveAndOutStoreButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNoCodeStoreIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNoCodeStoreOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBusinessPersonISNULL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JudgementSaleBillPrice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseDepartment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBillCategory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsControlProductForDealer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCanPurchaseBackUnStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNoCodeStoreBackIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowNoCodeStoreBackOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBusinessPersonWithDealer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRestriction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EqSaleBillPrice" serializeAs="String">
                <value>False</value>
            </setting>
        </DQS.AppViews.Operation.Properties.Settings>
    </userSettings>
</configuration>