<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DQS.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DQS.Controls.Properties.Settings>
            <setting name="IsUseDepartment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsViewPurchaseModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsThird" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUseWMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDelDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDefaultDepartment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsModifyBatchNoForSaleBack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsControlDealerAsProductPhy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsProductLockModify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExceptionAutoDeal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBillPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLockDepartment" serializeAs="String">
                <value>False</value>
            </setting>
        </DQS.Controls.Properties.Settings>
    </userSettings>
</configuration>